@import "custom_bootstrap/custom_bootstrap.less";

body { padding-top:30px; }
.form-control { margin-bottom: 10px; }


.btn-group.bootstrap-select
{
	width: 30% !important;
}

.container
{
	position:relative;
}

#error_explanation
{
	.panel;
	.panel-danger;

	h2
	{
		.panel-heading;
		margin: 0px;
		font-size: 15px;
		padding: 5px;
		font-weight: bold;
	}

	ul
	{
		.list-group;
		padding: 0;

		li
		{
			.list-group-item;
			position: relative;
			display: block;
			padding: 10px 15px;
			margin-bottom: -1px;
			background-color: #fff;
			border: 1px solid #ddd;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
}

.field_with_errors
{
	background-color: #f04124;
	border-color: #ea2f10;
	padding:3px;
	margin-bottom: 15px;
}

#notifications
{
	position:absolute;
	width: 100%;
	text-align: center;
}